body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color: rgb(45, 128, 45);
    color: #f9faf8;
    font-size: 24px;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: rgb(45, 128, 45);
    padding: 32px;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    margin: 8px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px;
}

button {
    padding: 8px;
    background-color: #3882F6;
    border: 0;
    border-radius: 10px;
    margin-left: 6px;
}

hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}

.logo {
    height: auto;
    width: 550x;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.values {
    height: 200px;
    width: 200px;
    border: 4px;
    border-color: rgb(45, 128, 45);
}

.company {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 20px 40px 20px 40px;
}

.cards {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    max-width: 200px;
}